version: 2.1

parameters:
  bill_processor_is_changed:
    type: boolean
    default: false
  bill_consumer_is_changed:
    type: boolean
    default: false
  gateway_is_changed:
    type: boolean
    default: false
  db_is_changed:
    type: boolean
    default: false
  kafka_is_changed:
    type: boolean
    default: false

orbs:
  node: circleci/node@6.3.0

executors:
  node:
    name: node/default
    tag: 24.12.0

commands:
  lint:
    steps:
      - run:
          name: Linting
          command: pnpm biome ci

jobs:
  test-bill-processor:
    executor: node
    working_directory: ~/project/projects/bill-processor
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Type checking
          command: pnpm tsc
      - run: lint
      - run:
          name: Run tests
          command: pnpm test
  test-bill-consumer:
    executor: node
    working_directory: ~/project/projects/bill-processor
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Type checking
          command: pnpm tsc
      - lint
  test-gateway:
    executor: node
    working_directory: ~/project/projects/gateway
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Type checking
          command: pnpm tsc
      - lint
      - run:
          name: Run tests
          command: pnpm test
  test-db:
    executor: node
    working_directory: ~/project/projects/db
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
      - lint
  test-kafka:
    executor: node
    working_directory: ~/project/projects/kafka
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
      - lint
  deploy:
    # This is an example deploy job, not actually used by the workflow
    docker:
      - image: cimg/base:stable
    steps:
      # Replace this with steps to deploy to users
      - run:
          name: deploy
          command: '#e.g. ./deploy.sh'

workflows:
  bill-processor:
    when: << pipeline.parameters.bill_processor_is_changed >>
    jobs:
      - test-bill-processor
  bill-consumer:
    when: << pipeline.parameters.bill_consumer_is_changed >>
    jobs:
      - test-bill-consumer
  gateway:
    when: << pipeline.parameters.gateway_is_changed >>
    jobs:
      - test-gateway
    # - deploy:
    #     requires:
    #       - test-node
  db:
    when: << pipeline.parameters.db_is_changed >>
    jobs:
      - test-db
  kafka:
    when: << pipeline.parameters.kafka_is_changed >>
    jobs:
      - test-kafka
