version: 2.1

parameters:
  bill_processor_is_changed:
    type: boolean
    default: false
  bill_consumer_is_changed:
    type: boolean
    default: false
  gateway_is_changed:
    type: boolean
    default: false
  db_is_changed:
    type: boolean
    default: false
  kafka_is_changed:
    type: boolean
    default: false
  # A project subdirectory where our DAOs live
  dao_is_changed:
    type: boolean
    default: false

orbs:
  node: circleci/node@6.3.0

references:
  node_version: &node_version "24.12.0"

commands:
  setup:
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules
  type-check:
    steps:
      - run:
          name: Type checking
          command: pnpm type-check
  lint:
    steps:
      - run:
          name: Linting
          command: pnpm biome ci
  test:
    steps:
      - run:
          name: Run tests
          command: pnpm test

jobs:
  test-bill-processor:
    executor:
      name: node/default
      tag: *node_version
    working_directory: ~/project/projects/bill-processor
    steps:
      - run: echo "bill-processor has changes << pipeline.parameters.bill_processor_is_changed >>"
      - when:
          condition: << pipeline.parameters.bill_processor_is_changed >>
          steps:
            - setup
            - type-check
            - lint
            - test
  test-bill-consumer:
    executor:
      name: node/default
      tag: *node_version
    working_directory: ~/project/projects/bill-processor
    steps:
      - run: echo "Checking for changes in bill-consumer..."
      - when:
          condition: << pipeline.parameters.bill_consumer_is_changed >>
          steps:
            - setup
            - type-check
            - lint
  test-gateway:
    executor:
      name: node/default
      tag: *node_version
    working_directory: ~/project/projects/gateway
    steps:
      - run: echo "Checking for changes in gateway..."
      - when:
          condition: << pipeline.parameters.gateway_is_changed >>
          steps:
            - setup
            - type-check
            - lint
            - test
  test-db:
    executor:
      name: node/default
      tag: *node_version
    working_directory: ~/project/projects/db
    steps:
      - run: echo "Checking for changes in db..."
      - when:
          condition: << pipeline.parameters.db_is_changed >>
          steps:
            - setup
            - lint
  test-kafka:
    executor:
      name: node/default
      tag: *node_version
    working_directory: ~/project/projects/kafka
    steps:
      - run: echo "Checking for changes in kafka..."
      - when:
          condition: << pipeline.parameters.kafka_is_changed >>
          steps:
            - setup
            - lint
  test-db-integration:
    executor:
      name: node/default
      tag: *node_version
    working_directory: ~/project/projects/gateway
    steps:
      - run: echo "Checking for changes in gateway/db-integration..."
      - when:
          condition:
            or:
              - << pipeline.parameters.dao_is_changed >>
              - << pipeline.parameters.db_is_changed >>
          steps:
            - setup
            - setup_remote_docker:
                version: default
                docker_layer_caching: true
            - run:
                name: Run DAO tests
                command: pnpm test:db
  deploy:
    # This is an example deploy job, not used by the workflow
    docker:
      - image: cimg/base:stable
    steps:
      # Replace this with steps to deploy to users
      - run:
          name: deploy
          command: '#e.g. ./deploy.sh'

workflows:
  bill-split:
    jobs:
      - test-bill-processor
      - test-bill-consumer
      - test-gateway
      - test-db
      - test-kafka
      - test-db-integration
    # - deploy:
    #     requires:
    #       - test-node
